.card{
  &-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-menu{
    display: flex;
    margin-bottom: 30px;
  }
  &-menu--item{
    color: #8c8c8c;
    margin-left: 10px;
    border: 1px solid #ebebeb;
    padding: 10px 20px;
    font-size: 14px;
  }
  &-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &-row--item{
    background: #fbfaf8;
    width: 370px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
}
